- @title = 'Contact'
- @content_class = 'contact'
- @mantra = 'So please, let us build you something.'

.container
  = semantic_form_for 'cleverContact' do |f|
    = f.inputs do
      = f.input :name, label: 'Your Name', placeholder: 'Bob Bobberson'
      = f.input :email, label: 'Email Address', placeholder: 'bob@gmail.com'
      = f.input :message, as: :text, label: 'Ask us something.', input_html: { rows: 3 }, placeholder: 'This is one of those totally cool questions everyone just sits around and waits for. The super awesome ones.'

    = f.actions do
      = f.action :submit, label: 'Send Message'

  %h1.thanks Thanks, we’ll get back to you soon.

%p
  or email us at
  = link_to 'team@clevercode.net', 'mailto:team@clevercode.net'
