!!! 5
%html
  %head
    %title cleverCode - #{@title}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://underscorejs.org/underscore-min.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ rel: 'icon', type: 'image/png', href: '/assets/favicon.png' }
    %meta{ name: 'viewport', content: 'initial-scale=1, maximum-scale=1' }
    %meta(name="description" content="cleverCode is a small web studio in Orlando, FL. We design and create beautiful interfaces.")
    %meta(name="keywords" content="web, design, designer, interface, usable, usability, user experience, UI, UX, html, css, xhtml, javascript, jquery, js, coffeescript, ruby, rails, RoR, orlando, orlando, florida")
    %meta(name="author" content="Zachary Nicoll")

  %body
    %header
      .girdle
        %h1#logo
          = link_to 'cleverCode', root_path
          .subtext

        %nav
          %ul
            %li{ class_if_current(root_path) }
              = link_to_unless_current 'Home', root_path
            %li{ class_if_current(work_path) }
              = link_to_unless_current 'Work', work_path
            %li{ class_if_current(contact_path) }
              = link_to_unless_current 'Contact', contact_path

        %h1#mantra= @mantra

    #content{ class: @content_class }
      .girdle
        = yield

    %footer
      .girdle
        %p
          &copy; 2013
          %strong cleverCode
